@model SinExWebApp20256461.ViewModels.ShipmentsSearchViewModel

@using (Html.BeginForm("GenerateHistoryReport", "Shipments", FormMethod.Get))
{
    <div class="row">
        @if (User.IsInRole("Employee"))
        {
            <div class="col-md-2">
                @Html.LabelFor(a => a.ShippingAccountNumber, "Shipping Account")
            </div>
            <div class="col-md-3">
                @Html.DropDownListFor(a => a.ShippingAccountNumber, Model.ShippingAccounts, "please Select", new { @class = "form-control" })
            </div>
        }
        <div class="col-md-3">
            @Html.TextBoxFor(a => a.ShippedStartDate, htmlAttributes: new { @type = "date", @class = "form-control" })
        </div>
        <div class="col-md-3">
            @Html.TextBoxFor(a => a.ShippedEndDate, htmlAttributes: new { @type = "date", @class = "form-control" })
        </div>
        <div class="col-md-1">
            <input type="submit" value="Search" class="form-control"/>
        </div>
    </div>
}

