@{
    ViewBag.Title = "About";
}
<h2>COMP 3111: Software Engineering--Team 108</h2>
<h3></h3>

<p>Team 108
<h6>DU, Xinnan	-	xduac@connect.ust.hk</h6>
    <h6>
        QI, Gengmo	-	gqi@connect.ust.hk
    </h6>
    <h6>
        WU, Shangzhe	-	swuai@connect.ust.hk
    </h6>
    <h6>  YU, Zheqing	-	zyuaf@connect.ust.hk.</h6>
</p>
