@model IEnumerable<SinExWebApp20256461.Models.Currency>

@{
    ViewBag.Title = "Currencies";
}

<h2>Currencies</h2>


<div class="panel panel-success" style="display:inline-block">
    <div class="panel-heading" align="center">
        SYSTEM REQUIREMENTS 
    </div>

    <div class="panel-body">
        <h5 align="center">
            4: Package types, service types and fees
        </h5>

    </div>
</div>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ExchangeRate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CurrencyCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExchangeRate)
        </td>
        @if (User.IsInRole("Employee"))
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CurrencyCode })
            </td>
        }
    </tr>
}

</table>
